<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^webserver/(.*)$ sample/server/Webserver.php/$1 [QSA,PT,L]
</IfModule>
